interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-VRZzKh", "refresh_token": "7f0***",
        "access_token": "CIz***", "hub_id": 1534, "scopes": ["-Fallback-scrubbed-FAAjkhZWDNBIjONpUGwGaGz",
        "-Fallback-scrubbed-HMiZAzZ", "-Fallback-scrubbed-MSRRlPWneJXlTn", "-Fallback-scrubbed-zAjyaJAOWdGgHWHPrJAkpV",
        "-Fallback-scrubbed-rGPWqgdUhxGcglabmXCSlGlufK", "-Fallback-scrubbed-LjwNwqIifUmsnPyBdvlhkxR",
        "-Fallback-scrubbed-IidTzGHjzdmaJCnd", "-Fallback-scrubbed-WNEWwRTHQWUKSVgKitzdxzgdR",
        "-Fallback-scrubbed-kddCqDZ", "-Fallback-scrubbed-lKYdntIAOapyTNIdOneKwFh",
        "-Fallback-scrubbed-eDAuovNtUbutDPGfqARlAq[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/crm-object-schemas/v3/schemas?limit=100
  response:
    body:
      string: '{"results": [{"labels": {"singular": "-Fallback-scrubbed-QSNtXZLhdoFyO",
        "plural": "-Fallback-scrubbed-BFkUmGiMqWOugwd"}, "requiredProperties": ["-Fallback-scrubbed-tdiqoQJcD"],
        "searchableProperties": ["-Fallback-scrubbed-tdiqoQJcD"], "primaryDisplayProperty":
        "-Fallback-scrubbed-tdiqoQJcD", "secondaryDisplayProperties": ["-Fallback-scrubbed-FWXc"],
        "description": "-Fallback-scrubbed-qhxSPRKaYPnIyyzFSDdNvSttxMlXTUslW", "allowsSensitiveProperties":
        false, "archived": false, "restorable": false, "metaType": "-Fallback-scrubbed-IuZQHfVLyLbRQDI",
        "id": "6238", "fullyQualifiedName": "-Fallback-scrubbed-nfRpbWtrpFWFDVCMvvUfoDVum",
        "createdAt": "1984-10-02T14:37:42.341Z", "updatedAt": "1996-06-23T01:35:19.216Z",
        "createdByUserId": 4852, "updatedByUserId": 4852, "objectTypeId": "-Fallback-scrubbed-FyiiCqSvtv",
        "properties": [{"name": "Fake-Katrina Johnson", "label": "-Fallback-scrubbed-oxXIBTFBl",
        "type": "-Fallback-scrubbed-fxySyZIwDnP", "fieldType": "-Fallback-scrubbed-uDQQzZDS",
        "description": "-Fallback-scrubbed-wQThbYqfbJbzFZmoXQePGtOjUiiiAhiFGZmFeSxdTjXooEFKbtLGLpqWPpmiGReOiXLoOIBdtzdOBWmzxTRYzkAEQBFDrxJAEGeErnf",
        "groupName": "-Fallback-scrubbed-KTLsgkJTfAaKGbRQkpmSjkSSGWR", "options":
        [], "displayOrder": 3292, "calculated": false, "externalOptions": false, "hasUniqueValue":
        false, "hidden": false, "hubspotDefined": false, "modificationMetadata": {"archivable":
        false, "readOnlyDefinition": false, "readOnlyValue": false}, "formField":
        false, "numberDisplayHint": "-Fallback-scrubbed-JNDctjQMSPA", "dataSensitivity":
        "-Fallback-scrubbed-dLSVFpTjOEliN"}, {"name": "Fake-Jon Conley", "label":
        "-Fallback-scrubbed-AFoJhCfHUqaWIL", "type": "-Fallback-scrubbed-fxySyZIwDnP",
        "fieldType": "-Fallback-scrubbed-uDQQzZDS", "description": "-Fallback-scrubbed-vhKlVtlXGJPTfVVPuiuVIaJoSNqIguREViqQGfQVYIUpje",
        "groupName": "-Fallback-scrubbed-KTLsgkJTfAaKGbRQkpmSjkSSGWR", "options":
        [], "displayOrder": 3292, "calculated": false, "externalOptions": false, "hasUniqueValue":
        false[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/2-42889402/?limit=100&properties=id%2CupdatedAt%2CcreatedAt%2Carchived%2Chs_all_accessible_team_ids%2Chs_all_assigned_business_unit_ids%2Chs_all_owner_ids%2Chs_all_team_ids%2Chs_created_by_user_id%2Chs_createdate%2Chs_lastmodifieddate%2Chs_merged_object_ids%2Chs_object_id%2Chs_object_source%2Chs_object_source_detail_1%2Chs_object_source_detail_2%2Chs_object_source_detail_3%2Chs_object_source_id%2Chs_object_source_label%2Chs_object_source_user_id%2Chs_owning_teams%2Chs_pinned_engagement_id%2Chs_read_only%2Chs_shared_team_ids%2Chs_shared_user_ids%2Chs_unique_creation_key%2Chs_updated_by_user_id%2Chs_user_ids_of_all_notification_followers%2Chs_user_ids_of_all_notification_unfollowers%2Chs_user_ids_of_all_owners%2Chs_was_imported%2Chubspot_owner_assigneddate%2Chubspot_owner_id%2Chubspot_team_id%2Corder_num%2Ctest
  response:
    body:
      string: '{"results": [{"id": "6720", "properties": {"hs_all_accessible_team_ids":
        null, "hs_all_assigned_business_unit_ids": "2201", "hs_all_owner_ids": null,
        "hs_all_team_ids": null, "hs_created_by_user_id": "6028", "hs_createdate":
        "1986-06-01T08:50:20.230Z", "hs_lastmodifieddate": "2004-08-13T02:38:03.184Z",
        "hs_merged_object_ids": null, "hs_object_id": "6720", "hs_object_source":
        "-Fallback-scrubbed-vcPpQE", "hs_object_source_detail_1": null, "hs_object_source_detail_2":
        null, "hs_object_source_detail_3": null, "hs_object_source_id": "-Fallback-scrubbed-BAwdCmhmiDmqeEE",
        "hs_object_source_label": "-Fallback-scrubbed-vcPpQE", "hs_object_source_user_id":
        "6028", "hs_owning_teams": null, "hs_pinned_engagement_id": null, "hs_read_only":
        null, "hs_shared_team_ids": null, "hs_shared_user_ids": null, "hs_unique_creation_key":
        null, "hs_updated_by_user_id": "6028", "hs_user_ids_of_all_notification_followers":
        null, "hs_user_ids_of_all_notification_unfollowers": null, "hs_user_ids_of_all_owners":
        "6028", "hs_was_imported": null, "hubspot_owner_assigneddate": "1986-06-01T08:50:20.230Z",
        "hubspot_owner_id": "5040", "hubspot_team_id": null, "order_num": "1060",
        "test": "-Fallback-scrubbed-BYzmqWPEPHhbJJNL"}, "createdAt": "1986-06-01T08:50:20.230Z",
        "updatedAt": "2004-08-13T02:38:03.184Z", "archived": false, "url": "-Fallback-scrubbed-lJLpbNFAavRICzwlKXVUbrixKfKPzRpEFDRglJNhhhoWPyNeswmNdRbFcOkHSbVUlFJeLIj"},
        {"id": "8967", "properties": {"hs_all_accessible_team_ids": null, "hs_all_assigned_business_unit_ids":
        "2201", "hs_all_owner_ids": null, "hs_all_team_ids": null, "hs_created_by_user_id":
        "6028", "hs_createdate": "2021-05-13T11:43:53.444Z", "hs_lastmodifieddate":
        "2019-10-05T21:31:22.759Z", "hs_merged_object_ids": null, "hs_object_id":
        "8967", "hs_object_source":[...]
