interactions:
- request:
    body: redirect_uri=&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-IALrqG", "refresh_token": "7f0***",
        "access_token": "CJ-***", "hub_id": 4350, "scopes": ["-Fallback-scrubbed-TLJOpBLoSuRljnfQwNwZYGr",
        "-Fallback-scrubbed-OrWpKLg", "-Fallback-scrubbed-zSICPULMqEhJHf", "-Fallback-scrubbed-dhHHREqQcDYKOqdDfEicbr",
        "-Fallback-scrubbed-HJvJBTRszRHkQFlRjMrkSDkhht", "-Fallback-scrubbed-frlyvsJYqzNvgcXvcpTYxsB",
        "-Fallback-scrubbed-IYDMDSrixAprSxTH", "-Fallback-scrubbed-rlhteVMZxZKuaBHzyIVsXphRW",
        "-Fallback-scrubbed-NuYbmXW", "-Fallback-scrubbed-VCAaNnHsUxnvGUfMgnJwphz",
        "-Fallback-scrubbed-NrlfrlTJkMQGTztilGiFug[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/crm-object-schemas/v3/schemas?limit=100
  response:
    body:
      string: '{"results": [{"labels": {"singular": "-Fallback-scrubbed-nlmihtI",
        "plural": "-Fallback-scrubbed-aFaaVnna"}, "requiredProperties": ["-Fallback-scrubbed-EUrasMjzrJbj"],
        "searchableProperties": ["-Fallback-scrubbed-EUrasMjzrJbj", "-Fallback-scrubbed-QBzftZhjwlCyp"],
        "primaryDisplayProperty": "-Fallback-scrubbed-EUrasMjzrJbj", "secondaryDisplayProperties":
        ["-Fallback-scrubbed-QBzftZhjwlCyp"], "description": "-Fallback-scrubbed-GAzBFPXAMzOeGuAoMnPc",
        "allowsSensitiveProperties": true, "archived": false, "restorable": true,
        "metaType": "-Fallback-scrubbed-ZspyzdHQNhwbAPr", "id": "51946697", "fullyQualifiedName":
        "-Fallback-scrubbed-LxWDCVVOznRvaldRVv", "createdAt": "1990-09-11T04:58:08.290Z",
        "updatedAt": "1980-11-11T10:45:15.694Z", "createdByUserId": 2677, "updatedByUserId":
        2677, "objectTypeId": "2-51946697", "properties": [{"name": "hs_all_accessible_team_ids",
        "label": "-Fallback-scrubbed-gehyVIETD", "type": "-Fallback-scrubbed-YRfvaHfAtvr",
        "fieldType": "-Fallback-scrubbed-gOqBvGAe", "description": "-Fallback-scrubbed-bIWQkZEOvehADpueOFEUIIvIcRyXLELkfySJFavzkhmZprImDJTxCHKycpuIrcKHPdxfDvVPIRicIkbDSQeRRAtELzocZfWzwIdmsqs",
        "groupName": "-Fallback-scrubbed-QvUEthQPJdEhnHCyDEfU", "options": [], "displayOrder":
        6316, "calculated": false, "externalOptions": true, "hasUniqueValue": false,
        "hidden": true, "hubspotDefined": true, "modificationMetadata": {"archivable":
        true, "readOnlyDefinition": true, "readOnlyValue": true}, "formField": false,
        "numberDisplayHint": "-Fallback-scrubbed-cORJXdBFXGk", "dataSensitivity":
        "-Fallback-scrubbed-dnSoKxEXTtsrM"}, {"name": "hs_all_assigned_business_unit_ids",
        "label": "-Fallback-scrubbed-xjqEfgwChHTFsB", "type": "-Fallback-scrubbed-YRfvaHfAtvr",
        "fieldType": "-Fallback-scrubbed-gOqBvGAe", "description": "-Fallback-scrubbed-xfFJMPTRPfQobxbvYDtWUSSuIoblrlpkZLgZdMGjOxDheh",
        "groupName": "-Fallback-scrubbed-QvUEthQPJdEhnHCyDEfU", "options": [], "displayOrder":
        6316, "calculated": false, "externalOptions": true, "hasUniqueValue": fal[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/2-42889402/?limit=100&properties=id%2CupdatedAt%2CcreatedAt%2Carchived%2Chs_all_accessible_team_ids%2Chs_all_assigned_business_unit_ids%2Chs_all_owner_ids%2Chs_all_team_ids%2Chs_created_by_user_id%2Chs_createdate%2Chs_lastmodifieddate%2Chs_merged_object_ids%2Chs_object_id%2Chs_object_source%2Chs_object_source_detail_1%2Chs_object_source_detail_2%2Chs_object_source_detail_3%2Chs_object_source_id%2Chs_object_source_label%2Chs_object_source_user_id%2Chs_owning_teams%2Chs_pinned_engagement_id%2Chs_read_only%2Chs_shared_team_ids%2Chs_shared_user_ids%2Chs_unique_creation_key%2Chs_updated_by_user_id%2Chs_user_ids_of_all_notification_followers%2Chs_user_ids_of_all_notification_unfollowers%2Chs_user_ids_of_all_owners%2Chs_was_imported%2Chubspot_owner_assigneddate%2Chubspot_owner_id%2Chubspot_team_id%2Corder_num%2Ctest
  response:
    body:
      string: '{"results": [{"id": "26013593746", "properties": {"hs_all_accessible_team_ids":
        null, "hs_all_assigned_business_unit_ids": "3745", "hs_all_owner_ids": null,
        "hs_all_team_ids": null, "hs_created_by_user_id": "4277", "hs_createdate":
        "2007-02-28T01:42:14.230Z", "hs_lastmodifieddate": "2010-12-04T06:37:07.184Z",
        "hs_merged_object_ids": null, "hs_object_id": "5595", "hs_object_source":
        "-Fallback-scrubbed-jbJEYe", "hs_object_source_detail_1": null, "hs_object_source_detail_2":
        null, "hs_object_source_detail_3": null, "hs_object_source_id": "-Fallback-scrubbed-dOcgJWUSzUVBSRe",
        "hs_object_source_label": "-Fallback-scrubbed-jbJEYe", "hs_object_source_user_id":
        "4277", "hs_owning_teams": null, "hs_pinned_engagement_id": null, "hs_read_only":
        null, "hs_shared_team_ids": null, "hs_shared_user_ids": null, "hs_unique_creation_key":
        null, "hs_updated_by_user_id": "4277", "hs_user_ids_of_all_notification_followers":
        null, "hs_user_ids_of_all_notification_unfollowers": null, "hs_user_ids_of_all_owners":
        "4277", "hs_was_imported": null, "hubspot_owner_assigneddate": "2007-02-28T01:42:14.230Z",
        "hubspot_owner_id": "2648", "hubspot_team_id": null, "order_num": "8783",
        "test": "-Fallback-scrubbed-gLHxXwAAQqAAuiBX"}, "createdAt": "2007-02-28T01:42:14.230Z",
        "updatedAt": "2010-12-04T06:37:07.184Z", "archived": false, "url": "-Fallback-scrubbed-aUEjdrQekgrTCIDqddXVPoeYYFEhzmpGOBYjyqzzWVIOfkQCnLNaYONxaZurhSIlFHSxtSN"},
        {"id": "26013593749", "properties": {"hs_all_accessible_team_ids": null, "hs_all_assigned_business_unit_ids":
        "3745", "hs_all_owner_ids": null, "hs_all_team_ids": null, "hs_created_by_user_id":
        "4277", "hs_createdate": "1970-02-03T14:01:36.444Z", "hs_lastmodifieddate":
        "1997-04-14T15:02:15.759Z", "hs_merged_object_ids": null, "hs_object_id":
        "8309", "hs_object_s[...]
