interactions:
- request:
    body: redirect_uri=&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-seIarv", "refresh_token": "7f0***",
        "access_token": "CIn***", "hub_id": 384, "scopes": ["-Fallback-scrubbed-tgThuRFUUfJxUysjJScCFKH",
        "-Fallback-scrubbed-ISQJuOU", "-Fallback-scrubbed-hwdpfGeNvtBHrt", "-Fallback-scrubbed-ELFVTFrkcrBhchZxOspAaV",
        "-Fallback-scrubbed-rDnyNqpBEyMQRaLzZNBBZbRLMg", "-Fallback-scrubbed-uBYFZKMMBKngMwPADJWKPRu",
        "-Fallback-scrubbed-JVcyQQsEKOEcVxVN", "-Fallback-scrubbed-IGXIWowznzUDYPUHQXwJunylR",
        "-Fallback-scrubbed-bakUAKV", "-Fallback-scrubbed-OvcLBSLRIVoHCpRmwXSDPMg",
        "-Fallback-scrubbed-DvSGxXoHVwQCBUUQrfqHDZ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/crm-object-schemas/v3/schemas?limit=100
  response:
    body:
      string: '{"results": [{"labels": {"singular": "-Fallback-scrubbed-yaTKicDgjiJtb",
        "plural": "-Fallback-scrubbed-tIHiuJySOLmXRIT"}, "requiredProperties": ["-Fallback-scrubbed-LrKmafykM"],
        "searchableProperties": ["-Fallback-scrubbed-LrKmafykM"], "primaryDisplayProperty":
        "-Fallback-scrubbed-LrKmafykM", "secondaryDisplayProperties": ["-Fallback-scrubbed-uBfO"],
        "description": "-Fallback-scrubbed-lUoMVPafnAIOwfGgGxnTYkLISdpDvXwVG", "allowsSensitiveProperties":
        true, "archived": true, "restorable": true, "metaType": "-Fallback-scrubbed-mXiTYLwFMVyCLdD",
        "id": "42889402", "fullyQualifiedName": "-Fallback-scrubbed-yLutyjspOZMKJsLeIvaAGCVLo",
        "createdAt": "1974-06-28T09:57:04.341Z", "updatedAt": "2002-12-25T13:25:17.216Z",
        "createdByUserId": 2595, "updatedByUserId": 2595, "objectTypeId": "-Fallback-scrubbed-inNFDMGxot",
        "properties": [{"name": "Fake-Amber Hayes", "label": "-Fallback-scrubbed-tFnosCWhl",
        "type": "-Fallback-scrubbed-rYZoCzltjDy", "fieldType": "-Fallback-scrubbed-XJKZDPRV",
        "description": "-Fallback-scrubbed-yLBVhszXhjMvBzPLKruLeXzHxQdOLFRcWJyDPSPlRzIjKgWNSoZSaWgRsAuECruKkTATirunwdEKmMSGDxeAaciIJjKYKgFMHKvJGEm",
        "groupName": "-Fallback-scrubbed-ydkyCWYVZiWZyvZkUSgHZEXqSgl", "options":
        [], "displayOrder": 7057, "calculated": true, "externalOptions": true, "hasUniqueValue":
        true, "hidden": true, "hubspotDefined": true, "modificationMetadata": {"archivable":
        true, "readOnlyDefinition": true, "readOnlyValue": true}, "formField": true,
        "numberDisplayHint": "-Fallback-scrubbed-vEAxaMlZniT", "dataSensitivity":
        "-Fallback-scrubbed-AEgdXtkGUBDRq"}, {"name": "Fake-Katrina Rodriguez", "label":
        "-Fallback-scrubbed-deAheKWGOIBppU", "type": "-Fallback-scrubbed-rYZoCzltjDy",
        "fieldType": "-Fallback-scrubbed-XJKZDPRV", "description": "-Fallback-scrubbed-fBQQvHouYpMTWWrkCdPYbOvoMTSrENsChdYnGsjIvOgNYp",
        "groupName": "-Fallback-scrubbed-ydkyCWYVZiWZyvZkUSgHZEXqSgl", "options":
        [], "displayOrder": 7057, "calculated": true, "externalOptions": true, "hasUniqueValue":
        [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/properties/v1/contacts/properties
  response:
    body:
      string: '[{"name": "Fake-Emily Larsen", "label": "-Fallback-scrubbed-PRFmsquZXpXKjtIXwmtrxHsshm",
        "description": "", "groupName": "-Fallback-scrubbed-rfOSoYAmabHcHmVNTo", "type":
        "-Fallback-scrubbed-owLNktoh", "fieldType": "-Fallback-scrubbed-jWXS", "fieldLevelPermission":
        null, "hidden": true, "dataSensitivity": "-Fallback-scrubbed-OSXP", "referencedObjectType":
        null, "externalOptionsReferenceType": null, "isCustomizedDefault": true, "optionsAreMutable":
        null, "optionSortStrategy": null, "numberDisplayHint": null, "hasUniqueValue":
        true, "textDisplayHint": null, "updatedAt": 4364, "createdAt": 4364, "currencyPropertyName":
        null, "dateDisplayHint": null, "searchTextAnalysisMode": null, "createdUserId":
        191, "searchableInGlobalSearch": true, "sensitiveDataCategories": [], "updatedUserId":
        191, "formField": true, "displayOrder": 7057, "readOnlyValue": true, "readOnlyDefinition":
        true, "mutableDefinitionNotDeletable": true, "favorited": true, "favoritedOrder":
        7057, "calculated": true, "externalOptions": true, "displayMode": "-Fallback-scrubbed-GbUWXkQPlGvNW",
        "showCurrencySymbol": null, "hubspotDefined": null, "deleted": true, "options":
        []}, {"name": "Fake-Michael Evans", "label": "-Fallback-scrubbed-heMtLcMfbXsfxY",
        "description": "-Fallback-scrubbed-ITELbDOdbuifwyUUftJfABEzjGglmSpAHxCEqhFyJTGmrLLZkbGkSRjaTyTQg",
        "groupName": "-Fallback-scrubbed-rfOSoYAmabHcHmVNTo", "type": "-Fallback-scrubbed-nVJBtL",
        "fieldType": "-Fallback-scrubbed-Fyay", "fieldLevelPermission": null, "hidden":
        true, "dataSensitivity": "-Fallback-scrubbed-OSXP", "referencedObjectType":
        null, [...]
[...]
