interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-PNNlSl", "refresh_token": "7f0***",
        "access_token": "CJr***", "hub_id": 1023, "scopes": ["-Fallback-scrubbed-iPAQMhENcQGQkoczYundEjs",
        "-Fallback-scrubbed-pftGnff", "-Fallback-scrubbed-tkRJWWxkbSPvlU", "-Fallback-scrubbed-csPQPsqcZVmGADjpRuzkrr",
        "-Fallback-scrubbed-kxaYXYizoCiuDRtEYMxilupACu", "-Fallback-scrubbed-swRKSbkIMnmLnCWdcNhOkWU",
        "-Fallback-scrubbed-KCNauzMXiFkXEdso", "-Fallback-scrubbed-CBEEZiApGwUFoJgGNaCHcbqEe",
        "-Fallback-scrubbed-ipcZacT", "-Fallback-scrubbed-ePLQibPHZZItdZiuikjqfyk",
        "-Fallback-scrubbed-dvGeYbefSeIXGOKIrJqzNr[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/properties/v1/deals/properties
  response:
    body:
      string: '[{"name": "Fake-Brooke Graves", "label": "-Fallback-scrubbed-maxUUy",
        "description": "-Fallback-scrubbed-VslAFjJzTMYWSPyWUjumAzKNQDaO", "groupName":
        "-Fallback-scrubbed-nVcDkinQAzDu", "type": "-Fallback-scrubbed-GmFJSY", "fieldType":
        "-Fallback-scrubbed-GmFJSY", "fieldLevelPermission": null, "hidden": true,
        "currencyPropertyName": "-Fallback-scrubbed-VKLvCEAtzXZBbNJFZe", "isCustomizedDefault":
        true, "sensitiveDataCategories": [], "formField": false, "displayOrder": 1408,
        "readOnlyValue": true, "readOnlyDefinition": false, "mutableDefinitionNotDeletable":
        true, "favorited": false, "favoritedOrder": 1408, "calculated": true, "externalOptions":
        true, "displayMode": "-Fallback-scrubbed-IovHjTORzPjSn", "showCurrencySymbol":
        false, "hubspotDefined": false, "deleted": null, "updatedAt": 1612, "dataSensitivity":
        "-Fallback-scrubbed-pamY", "referencedObjectType": null, "externalOptionsReferenceType":
        null, "optionsAreMutable": null, "optionSortStrategy": null, "numberDisplayHint":
        null, "hasUniqueValue": true, "textDisplayHint": null, "createdUserId": null,
        "searchableInGlobalSearch": true, "updatedUserId": null, "dateDisplayHint":
        null, "searchTextAnalysisMode": null, "createdAt": 6163, "options": []}, {"name":
        "Fake-Rhonda Horn", "label": "-Fallback-scrubbed-CxmkSIjkGWIYucaoLtRXCogdCr",
        "description": "-Fallback-scrubbed-KOWDgHGbfgTENgTXNSOXjMaepWKTFgOYQRapDJmWhJiUwxjjueWbDmATglMrkcwHUZkIvjKLLPi",
        "groupName": "-Fallback-scrubbed-nVcDkinQAzDu", "type": "-Fallback-scrubbed-GmFJSY",
        "fieldType": "-Fallback-scrubbed-eQjOXXPqBYBhcxiOuDar", "fieldLevelPermission":
        null, "hidden": true, "currencyPropertyName": null, "isCustomizedDefault":
        true, [...]
- request:
    body: '{"limit": 1, "filters": [{"propertyName": "hs_lastmodifieddate", "operator":
      "GT", "value": 1780272000000}, {"propertyName": "hs_lastmodifieddate", "operator":
      "LTE", "value": 1789503438733}], "properties": [], "sorts": [{"propertyName":
      "hs_lastmodifieddate", "direction": "ASCENDING"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/deals/search
  response:
    body:
      string: '{"total": 608, "results": [{"id": "779", "properties": {"amount": "9441",
        "closedate": "2017-10-17T21:59:21Z", "createdate": "2023-01-15T20:41:28.327Z",
        "dealname": "-Fallback-scrubbed-DyjZUERfzTcydoPfBTfUzwJr", "dealstage": "-Fallback-scrubbed-wZdKzsByWmqEdL",
        "hs_lastmodifieddate": "1973-12-09T20:28:32.412Z", "hs_object_id": "779",
        "pipeline": "-Fallback-scrubbed-uFEkouY"}, "createdAt": "2023-01-15T20:41:28.327Z",
        "updatedAt": "1973-12-09T20:28:32.412Z", "archived": true, "url": "-Fallback-scrubbed-HbWrUxvlZNKqMSRGUgODYTPODPjOeacyuozwPANkWZtetPxADWBRBhOeJKtyaJGW"}],
        "paging": {"next": {"after": "1"}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 01a0a6b7-bab6-7ee5-a25c-8f430d90737b
    status:
      code: 200
      message: OK
[...]
