interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-yHwdIL", "refresh_token": "7f0***",
        "access_token": "CK-***", "hub_id": 117, "scopes": ["-Fallback-scrubbed-zZlovGBUfkMIyqouroQenCw",
        "-Fallback-scrubbed-FrDERrF", "-Fallback-scrubbed-JmTAgMIKtFyCSD", "-Fallback-scrubbed-cjGbxTlIsqHyKszaVdpqhz",
        "-Fallback-scrubbed-zJDeJNUpIXsWUmuFqvuSWsOVed", "-Fallback-scrubbed-jyoxWHUIMVaDKwNRVgbsZXl",
        "-Fallback-scrubbed-VeufoyyoEXmwpUKZ", "-Fallback-scrubbed-crPyknDopCHIoHbewQvIdTZCw",
        "-Fallback-scrubbed-NgNKobl", "-Fallback-scrubbed-PpQPzwnVhQtTCOVOBQkqNTR",
        "-Fallback-scrubbed-uJQBEgPSGKfKdlBXHbHPmG[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/properties/v2/tasks/properties
  response:
    body:
      string: '[{"name": "Fake-Corey Smith", "label": "-Fallback-scrubbed-tioGBjHuh",
        "description": "-Fallback-scrubbed-ymjjzsPPKUdRiRqCWKPitGJJSPdQGsnrGlUCnxjxchQFDhCMLjbiwgxdmgedgnhTNhjysdeekRpwjkOUZjdtqmJwDwBQTbUzKRGYOwG",
        "groupName": "-Fallback-scrubbed-XusZMUmVFo", "type": "-Fallback-scrubbed-ZRHbHeHrmOr",
        "fieldType": "-Fallback-scrubbed-UwirWh", "fieldLevelPermission": null, "hidden":
        true, "updatedAt": 2353, "formField": false, "displayOrder": 5160, "readOnlyValue":
        true, "readOnlyDefinition": true, "mutableDefinitionNotDeletable": false,
        "favorited": false, "favoritedOrder": 7329, "calculated": false, "externalOptions":
        true, "displayMode": "-Fallback-scrubbed-SeBwZsGVXitwM", "showCurrencySymbol":
        null, "hubspotDefined": true, "deleted": null, "referencedObjectType": null,
        "externalOptionsReferenceType": "-Fallback-scrubbed-ESKg", "dataSensitivity":
        "-Fallback-scrubbed-PMDS", "isCustomizedDefault": false, "optionsAreMutable":
        null, "optionSortStrategy": null, "numberDisplayHint": null, "hasUniqueValue":
        false, "textDisplayHint": null, "createdAt": 6579, "createdUserId": null,
        "searchableInGlobalSearch": false, "currencyPropertyName": null, "dateDisplayHint":
        null, "searchTextAnalysisMode": null, "sensitiveDataCategories": [], "updatedUserId":
        null, "options": []}, {"name": "Fake-Deborah Hansen", "label": "-Fallback-scrubbed-nfOXsgnMDTqQSf",
        "description": "-Fallback-scrubbed-bDzvIPzACVEKhidSgsHCqoheiLPLCXWHLOpCXsaaEDFZlS",
        "groupName": "-Fallback-scrubbed-lINGNbYLSjJmbgO", "type": "-Fallback-scrubbed-ZRHbHeHrmOr",
        "fieldType": "-Fallback-scrubbed-vyAmQlOV", "fieldLevelPermission": null,
        "hidden": true, "updatedAt": null, "formField": false, "displayOrder": 7329,
        "readOnlyValue": false, "readOnlyDefinition": tr[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/properties/v2/calls/properties
  response:
    body:
      string: '[{"name": "Fake-Kevin Spencer", "label": "-Fallback-scrubbed-fgfCmIIGhehMYxiqyvLbj",
        "description": "-Fallback-scrubbed-vlDamDzzVClYeFWKnmmrCJFUxpWkXAMJlCU", "groupName":
        "-Fallback-scrubbed-XusZMUmVFo", "type": "-Fallback-scrubbed-ZRHbHeHrmOr",
        "fieldType": "-Fallback-scrubb[...]
- request:
    body: '{"limit": 100, "filters": [{"propertyName": "hs_lastmodifieddate", "operator":
      "GT", "value": 1104537600000}, {"propertyName": "hs_lastmodifieddate", "operator":
      "LTE", "value": 1789503967989}], "sorts": [{"propertyName": "hs_lastmodifieddate",
      "direction": "ASCENDING"}], "properties": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/calls/search
  response:
    body:
      string: '{"total": 33, "results": [{"id": "3085", "properties": {"hs_createdate":
        "1996-01-24T06:12:08.674Z", "hs_lastmodifieddate": "1984-08-10T03:54:58.104Z",
        "hs_object_id": "3085"}, "createdAt": "1996-01-24T06:12:08.674Z", "updatedAt":
        "1984-08-10T03:54:58.104Z", "archived": false, "url": "-Fallback-scrubbed-NHJuFbGizPSHHGorJFFvJFIDXrIGUrwZciHWcncIgKpcoNVAzZoEgFfZS"},
        {"id": "5077", "properties": {"hs_createdate": "1971-04-28T03:53:01.917Z",
        "hs_lastmodifieddate": "1996-05-20T14:44:10.345Z", "hs_object_id": "5077"},
        "createdAt": "1971-04-28T03:53:01.917Z", "updatedAt": "1996-05-20T14:44:10.345Z",
        "archived": false, "url": "-Fallback-scrubbed-eIZUFRLIlMFQXLfahgzuwfODbTPbaZTKEBorZJPZdThBNMYjedyfufnVh"},
        {"id": "753", "properties": {"hs_creat[...]
- request:
    body: '{"inputs": [{"id": "26904214540"}, {"id": "26906395321"}, {"id": "26906395320"},
      {"id": "26906396516"}, {"id": "29398268775"}, {"id": "30826842021"}, {"id":
      "32347595841"}, {"id": "32347360332"}, {"id": "32351750155"}, {"id": "103047694395"},
      {"id": "103038111049"}, {"id": "102969954087"}, {"id": "103060978546"}, {"id":
      "103060908874"}, {"id": "103048477993"}, {"id": "103048884026"}, {"id": "103061416334"},
      {"id": "102994406931"}, {"id": "102996433015"}, {"id": "102973487222"}, {"id":
      "103049065611"}, {"id": "103062693539"}, {"id": "103050298470"}, {"id": "103062801836"},
      {"id": "103050492259"}, {"id": "103084509597"}, {"id": "103026419876"}, {"id":
      "108421759528"}, {"id": "108408389685"}, {"id": "108409312646"}, {"id": "108421452037"},
      {"id": "108420515979"}, {"id": "108442042534"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hubapi.com/crm/v4/associations/calls/deals/batch/read
  response:
    body:
      string: '{"completedAt": "2020-04-20T08:13:39.552Z", "status": "-Fallback-scrubbed-wHpaqxbJ",
        "startedAt": "1990-11-20T04:18:46.228Z", "results": [{"from": {"id": "7638"},
        "to": [{"toObjectId": 6188, "associationTypes": [{"category": "-Fallback-scrubbed-QGzGlkVGyWknQIK",
        "typeId": 1465, "label": null, "fromObjectTypeId": null, "toObjectTypeId":
        null}]}]}, {"from": {"id": "1423"}, "to": [{"toObjectId": 6283, "associationTypes":
        [{"category": "-Fallback-scrubbed-QGzGlkVGyWknQIK", "typeId": 1465, "label":
        null, "fromObjectTypeId": null, "toObjectTypeId": null}]}, {"toObjectId":
        6318, "associationTypes": [{"category": "-Fallback-scrubbed-QGzGlkVGyWknQIK",
        "typeId": 1465, "label": null, "fromObjectTypeId": null, "toObjectTypeId":
        null}]}, {"toObjectId": 5251, "associationTypes": [{"category":[...]
