interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-RvkAVT", "refresh_token": "7f0***",
        "access_token": "CML***", "hub_id": 614, "scopes": ["-Fallback-scrubbed-khwDkVEEomngdGgZMKGelVG",
        "-Fallback-scrubbed-dTAADQc", "-Fallback-scrubbed-McnybeNSlPukgm", "-Fallback-scrubbed-gnzlkMUgVLOvcJLyLZuDeq",
        "-Fallback-scrubbed-JRIjSSinNNSfopOFhOmFKdnRUZ", "-Fallback-scrubbed-ImEWFdsXgjJrUeQtPTorYnX",
        "-Fallback-scrubbed-kbldrZjjITJqkufg", "-Fallback-scrubbed-ezbnmHiBqsjRQYVersfqFHGrH",
        "-Fallback-scrubbed-WwCyPhn", "-Fallback-scrubbed-qldmxRqebRwUTPDBmotACIQ",
        "-Fallback-scrubbed-XOGjZkBUXvzkfTySDnNakh[...]
- request:
    body: '{"limit": 100, "filters": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hubapi.com/crm/v3/lists/search
  response:
    body:
      string: '{"offset": 20, "hasMore": true, "lists": [{"listId": "9", "listVersion":
        9188, "createdAt": "1992-08-30T01:48:27.903Z", "updatedAt": "2023-07-21T05:04:58.072Z",
        "filtersUpdatedAt": "1992-08-30T01:48:27.903Z", "processingStatus": "-Fallback-scrubbed-fzzgoSYG",
        "createdById": "7084", "updatedById": "7084", "processingType": "-Fallback-scrubbed-MTzMiiN",
        "objectTypeId": "-Fallback-scrubbed-GpZ", "name": "Fake-Alexandra Thompson",
        "additionalProperties": {"hs_last_record_removed_at": "3814", "hs_list_size":
        "2071", "hs_list_reference_count": "3499", "hs_last_record_added_at": "475"}},
        {"listId": "10", "listVersion": 9188, "createdAt": "2000-07-28T18:32:03.666Z",
        "updatedAt": "2000-07-28T18:32:03.666Z", "filtersUpdatedAt": "2000-07-28T18:32:03.666Z",
        "processingStatus": "-Fallback-scrubbed-fzzgoSYG", "createdById": "7084",
        "updatedById": "7084", "processingType": "-Fallback-scrubbed-SMdQfqzj", "objectTypeId":
        "-Fallback-scrubbed-GpZ", "name": "Fake-Bradley Smith", "additionalProperties":
        {"hs_last_record_removed_at": "8[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/properties/v1/contacts/properties
  response:
    body:
      string: '[{"name": "Fake-Megan Gutierrez", "label": "-Fallback-scrubbed-RTwmTQtPeItQizYMvtiPVoCBLB",
        "description": "", "groupName": "-Fallback-scrubbed-FhYoYzmTfMHPGKXYeZ", "type":
        "-Fallback-scrubbed-zOYHqtif", "fieldType": "-Fallback-scrubbed-RHKX", "fieldLevelPermission":
        null, "hidden": true, "createdAt": 3613, "formField": true, "displayOrder":
        3845, "readOnlyValue": true, "readOnlyDefinition": true, "mutableDefinitionNotDeletable":
        true, "favorited": true, "favoritedOrder": 3845, "calculated": true, "externalOptions":
        true, "displayMode": "-Fallback-scrubbed-UyenZYoFUhcbq", "showCurrencySymbol":
        null, "hubspotDefined": null, "deleted": true, "dataSensitivity": "-Fallback-scrubbed-pFOi",
        "isCustomizedDefault": true, "optionsAreMutable": null, "optionSortStrategy":
        null, "referencedObjectType": null, "externalOptionsReferenceType": null,
        "numberDisplayHint": null, "hasUniqueValue": true, "textDisplayHint": null,
        "dateDisplayHint": null, "searchTextAnalysisMode": null, "currencyPropertyName":
        null, "createdUserId": 3082, "searchableInGlobalSearch": true, "sensitiveDataCategories":
        [], "updatedUserId": 3082, "updatedAt": 3613, "options": []}, {"name": "Fake-Kristin
        Hebert", "label": "-Fallback-scrubbed-PmcetQxXZBGDtI", "description": "-Fallback-scrubbed-MwelMaumLbnoVpTSKwrKAORqyTliJtzbrqTdxYdNjoksJfXhOeLHJqLhWNbQZ",
        "groupName": "-Fallback-scrubbed-FhYoYzmTfMHPGKXYeZ", "type": "-Fallback-scrubbed-pvdywx",
        "fieldType": "-Fallback-scrubbed-fhZW", "fieldLevelPermission": null, "hidden":
        true, "createdAt": 2256, "formField": false, "displayOrder": 9375, "readOnlyValue":
        true, "readOnlyDefinit[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/10/memberships?limit=100
  response:
    body:
      string: '{"results": [{"membershipTimestamp": "2011-03-25T18:05:14.041Z", "recordId":
        "9401"}, {"membershipTimestamp": "2011-03-25T18:05:14.041Z", "recordId": "2081"},
        {"membershipTimestamp": "2007-03-09T22:31:41.295Z", "recordId": "1912"}, {"membershipTimestamp":
        "2011-03-25T18:05:14.041Z", "recordId": "1775"}, {"membershipTimestamp": "2011-03-25T18:05:14.041Z",
        "recordId": "4157"}, {"membershipTimestamp": "2011-03-25T18:05:14.041Z", "recordId":
        "7796"}, {"membershipTimestamp": "1990-02-14T14:28:15.342Z", "recordId": "5458"},
        {"membershipTimestamp": "2011-03-25T18:05:14.041Z", "recordId": "5759"}, {"membershipTimestamp":
        "1972-12-13T09:30:20.374Z", "recordId": "1608"}, {"membershipTimestamp": "2011-03-25T18:05:14.041Z",
        "recordId": "3978"}, {"membershipTimestamp": "2011-03-25T18:05:14.041Z", "recordId":
        "337"}, {"membershipTimestamp": "2011-03-25T18:05:14.041Z", "recordId": "2075"},
        {"membershipTimestamp": "1995-06-19T06:33:28.932Z", "recordId": "3691"}, {"membershipTimestamp":
        "2011-03-25T18:05:14.041Z", "recordId": "34"}], "total": 14}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 01a0a6c2-3e57-7f70-a053-7616e5041f77
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '105'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 100, "filters": [{"propertyName": "hs_object_id", "operator":
      "IN", "values": ["1", "51", "101", "251", "301", "401", "451", "501", "551",
      "601", "38367114669", "109141937782", "109252172185", "109372835433"]}], "properties":
      ["id", "createdAt", "updatedAt", "archived", "archivedAt", "address", "annualrevenue",
      "assistant", "associatedcompanyid", "associatedcompanylastupdated", "city",
      "closedate", "company", "company_size", "country", "createdate", "currentlyinworkflow",
      "customer_tier", "date_of_birth", "days_to_close", "degree", "email", "engagements_last_meeting_booked",
      "engagements_last_meeting_booked_campaign", "engagements_last_meeting_booked_medium",
      "engagements_last_mee[...]
