interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-ZhTQsb", "refresh_token": "7f0***",
        "access_token": "CML***", "hub_id": 9149, "scopes": ["-Fallback-scrubbed-fMnZYZMmKaHEoVCpCVdNobm",
        "-Fallback-scrubbed-jxnVGWa", "-Fallback-scrubbed-pYSnyZVqjnwnii", "-Fallback-scrubbed-JENVLVlbWNQoZYWGonqhJj",
        "-Fallback-scrubbed-ZSjqWmHmDBMBsSgnmHezQWHXqp", "-Fallback-scrubbed-poTaQNMaPpcfFsjwlmIpHDG",
        "-Fallback-scrubbed-YsJjrGrlCsKwOCFp", "-Fallback-scrubbed-dLOSimAcbSXRPjBhBaFbSfQyM",
        "-Fallback-scrubbed-BFVpUec", "-Fallback-scrubbed-WbkCCGypKMbLnYbaVWLrpdC",
        "-Fallback-scrubbed-MPGDwwKtXytUtpOojpzqau[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/crm-object-schemas/v3/schemas?limit=100
  response:
    body:
      string: '{"results": [{"labels": {"singular": "-Fallback-scrubbed-KUrkuEpVspYEX",
        "plural": "-Fallback-scrubbed-GeYMRMMfgPjAHuU"}, "requiredProperties": ["-Fallback-scrubbed-IOnDjErrt"],
        "searchableProperties": ["-Fallback-scrubbed-IOnDjErrt"], "primaryDisplayProperty":
        "-Fallback-scrubbed-IOnDjErrt", "secondaryDisplayProperties": ["-Fallback-scrubbed-AQuP"],
        "description": "-Fallback-scrubbed-EfuRyHtvjMNYhClRemRpEqLOGXlquJEwx", "allowsSensitiveProperties":
        true, "archived": false, "restorable": true, "metaType": "-Fallback-scrubbed-gdKaoOIzcDkUkej",
        "id": "5546", "fullyQualifiedName": "-Fallback-scrubbed-zrUwZfTbNzuDsTDxnoJUZGaTx",
        "createdAt": "1999-09-27T01:49:56.341Z", "updatedAt": "1971-05-18T11:02:48.216Z",
        "createdByUserId": 7832, "updatedByUserId": 7832, "objectTypeId": "-Fallback-scrubbed-LBUNLFJumL",
        "properties": [{"name": "Fake-Karen Reed", "label": "-Fallback-scrubbed-MfYjVTYJj",
        "type": "-Fallback-scrubbed-hMRlqTgUJGu", "fieldType": "-Fallback-scrubbed-mrvvuDCs",
        "description": "-Fallback-scrubbed-XTMFdZdGGargplBUBXWaAPZaVJKqwiUPHSDcQYRgpQAIKdWuaxOKhMgxsERXhuAUWyrAUwFTWGuvaszpwwjHmeZaEeBfHPdIbHqkqtW",
        "groupName": "-Fallback-scrubbed-gUbhsshnCUhqvThKiXdeckNjese", "options":
        [], "displayOrder": 64, "calculated": false, "externalOptions": true, "hasUniqueValue":
        false, "hidden": true, "hubspotDefined": true, "modificationMetadata": {"archivable":
        true, "readOnlyDefinition": true, "readOnlyValue": true}, "formField": false,
        "numberDisplayHint": "-Fallback-scrubbed-ZxJpYYtdkss", "dataSensitivity":
        "-Fallback-scrubbed-HhAMFJQlFUoXg"}, {"name": "Fake-Gina Gutierrez", "label":
        "-Fallback-scrubbed-zuyyCyRBhNFjoe", "type": "-Fallback-scrubbed-hMRlqTgUJGu",
        "fieldType": "-Fallback-scrubbed-mrvvuDCs", "description": "-Fallback-scrubbed-NPtVSgWxOLykOIacvtrvXddhHtKLYTjAeVzTbidrjkBxLA",
        "groupName": "-Fallback-scrubbed-gUbhsshnCUhqvThKiXdeckNjese", "options":
        [], "displayOrder": 64, "calculated": false, "externalOptions": true, "hasUniqueValue":
        fals[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/properties/v2/orders/properties
  response:
    body:
      string: '[{"name": "Fake-Karen Reed", "label": "-Fallback-scrubbed-MfYjVTYJj",
        "description": "-Fallback-scrubbed-XTMFdZdGGargplBUBXWaAPZaVJKqwiUPHSDcQYRgpQAIKdWuaxOKhMgxsERXhuAUWyrAUwFTWGuvaszpwwjHmeZaEeBfHPdIbHqkqtW",
        "groupName": "-Fallback-scrubbed-kqjaLRgpmlWeHkpwt", "type": "-Fallback-scrubbed-hMRlqTgUJGu",
        "fieldType": "-Fallback-scrubbed-mrvvuDCs", "fieldLevelPermission": null,
        "hidden": true, "dataSensitivity": "-Fallback-scrubbed-QsRZ", "referencedObjectType":
        null, "externalOptionsReferenceType": "-Fallback-scrubbed-snDN", "isCustomizedDefault":
        false, "optionsAreMutable": null, "optionSortStrategy": null, "numberDisplayHint":
        "-Fallback-scrubbed-ZxJpYYtdkss", "hasUniqueValue": false, "textDisplayHint":
        null, "updatedAt": null, "formField": false, "displayOrder": 64, "readOnlyValue":
        true, "readOnlyDefinition": true, "mutableDefinitionNotDeletable": false,
        "favorited": false, "favoritedOrder": 64, "calculated": false, "externalOptions":
        true, "displayMode": "-Fallback-scrubbed-LisnOgLqQQfYc", "showCurrencySymbol":
        null, "hubspotDefined": true, "deleted": null, "createdAt": null, "createdUserId":
        null, "searchableInGlobalSearch": false, "dateDisplayHint": null, "searchTextAnalysisMode":
        null, "currencyPropertyName": null, "sensitiveDataCategories": [], "updatedUserId":
        null, "options": []}, {"name": "Fake-Gina Gutierrez", "label": "-Fallback-scrubbed-zuyyCyRBhNFjoe",
        "description": "-Fallback-scrubbed-NPtVSgWxOLykOIacvtrvXddhHtKLYTjAeVzTbidrjkBxLA",
        "groupName": "-Fallback-scrubbed-kqjaLRgpmlWeHkpwt", "type": "-Fallback-scrubbed-hMRlqTgUJGu",
        "fieldType": "-Fallback-scrubbed-mrvvuDCs", "fieldLevelPermission": null,
        "hidden": true, "dataSensitivity": "-Fallback-scrubbed-QsRZ", "referencedObjectType":
        null, "exter[...]
- request:
    body: '{"limit": 1, "filters": [{"propertyName": "hs_lastmodifieddate", "operator":
      "GT", "value": 1104537600000}, {"propertyName": "hs_lastmodifieddate", "operator":
      "LTE", "value": 1789503455508}], "properties": [], "sorts": [{"propertyName":
      "hs_lastmodifieddate", "direction": "ASCENDING"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/orders/search
  response:
    body:
      string: '{"total": 4, "results": [{"id": "5286", "properties": {"hs_createdate":
        "2020-01-30T22:05:12.969Z", "hs_lastmodifieddate": "2005-11-07T10:29:15.868Z",
        "hs_object_id": "5286"}, "createdAt": "2020-01-30T22:05:12.969Z", "updatedAt":
        "2005-11-07T10:29:15.868Z", "archived": false, "url": "-Fallback-scrubbed-iKzKKYbhpahCrPxCUsjeqOpdMiBcKQZQVuKXGGiIAutssJCTtJKVeIGgowhRYyVZwKh"}],
        "paging": {"next": {"after": "1"}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 01a0a6b7-fc31-75b3-85b2-b0620c255b13
    status:
      code: 200
      message: OK
[...]
