interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-xtvEBL", "refresh_token": "7f0***",
        "access_token": "CJD***", "hub_id": 2613, "scopes": ["-Fallback-scrubbed-kZkRzDDHGFTYkglpMENFHqZ",
        "-Fallback-scrubbed-TETpqSH", "-Fallback-scrubbed-TAZqYKKuhcHowx", "-Fallback-scrubbed-lCZgVMHKemuZClbVnHWInT",
        "-Fallback-scrubbed-bkpKQmaJxRVzyoYucfdpOnIbeh", "-Fallback-scrubbed-tLDlKOjizNsvWgcaxVAwsLp",
        "-Fallback-scrubbed-QpyyudJZUdhHuKpC", "-Fallback-scrubbed-LHDssukrRQvShzwvzdKXAIvGJ",
        "-Fallback-scrubbed-uiuBoiI", "-Fallback-scrubbed-zwvtNentfGgpWFJYnhKvZDn",
        "-Fallback-scrubbed-aavrhvBmMknksuUyFkhVnK[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/integrations/v1/me?count=100&property=portalId&property=timeZone&property=accountType&property=currency&property=utcOffset&property=utcOffsetMilliseconds
  response:
    body:
      string: '{"portalId": 2613, "timeZone": "-Fallback-scrubbed-iAXONglHWI", "accountType":
        "-Fallback-scrubbed-rcyMUzXfvpAJYP", "currency": "-Fallback-scrubbed-VFv",
        "utcOffset": "-Fallback-scrubbed-KlnVKp", "utcOffsetMilliseconds": 5994}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 01a0a6bf-8072-7145-885e-ac4a252184c9
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
