interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-BlSDuk", "refresh_token": "7f0***",
        "access_token": "CPe***", "hub_id": 3672, "scopes": ["-Fallback-scrubbed-LByAqFTscJFlpjCHSUgZlYE",
        "-Fallback-scrubbed-HhBGmYT", "-Fallback-scrubbed-gFQYzNtwKWPReB", "-Fallback-scrubbed-TuGnxyfEBtgLuibenhomAb",
        "-Fallback-scrubbed-GMJLrZMRWILPIQupNEigTPFllR", "-Fallback-scrubbed-YwSOMwOrKxpnXzeHzTJqgOg",
        "-Fallback-scrubbed-WsgJmQRSIerNvmib", "-Fallback-scrubbed-ohzojWsLMKFpVQrCFozDRcpZe",
        "-Fallback-scrubbed-urVFVMq", "-Fallback-scrubbed-XbjPeSiXJpxPrQKelRKxzzy",
        "-Fallback-scrubbed-AsvSNrHSPjpDRQntpamfEt[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/crm-object-schemas/v3/schemas?limit=100
  response:
    body:
      string: '{"results": [{"labels": {"singular": "-Fallback-scrubbed-MHhNTxOtsIsRZ",
        "plural": "-Fallback-scrubbed-aFNqJAYtvdGCvto"}, "requiredProperties": ["-Fallback-scrubbed-aCpekOKGZ"],
        "searchableProperties": ["-Fallback-scrubbed-aCpekOKGZ"], "primaryDisplayProperty":
        "-Fallback-scrubbed-aCpekOKGZ", "secondaryDisplayProperties": ["-Fallback-scrubbed-MYWr"],
        "description": "-Fallback-scrubbed-xbupHpwjderVNwcMrxnNgvIbDfogkOruD", "allowsSensitiveProperties":
        false, "archived": true, "restorable": false, "metaType": "-Fallback-scrubbed-pgNPnyPdmyWxkke",
        "id": "3848", "fullyQualifiedName": "-Fallback-scrubbed-JPxfuSITdphfcZCrsxjxcGhzK",
        "createdAt": "1991-07-31T00:25:36.341Z", "updatedAt": "2004-09-12T00:38:23.216Z",
        "createdByUserId": 2151, "updatedByUserId": 2151, "objectTypeId": "-Fallback-scrubbed-csWKnZEwUl",
        "properties": [{"name": "Fake-Sheila Lee", "label": "-Fallback-scrubbed-zbhalGZmb",
        "type": "-Fallback-scrubbed-fFKXoiOMdTt", "fieldType": "-Fallback-scrubbed-XxvxNKPj",
        "description": "-Fallback-scrubbed-AwLoxTxWJpEzFdIUTvsTtXdliyqiIVnJkJNnJAmVtNlVOprRfVrbSTsokPNREKGUjtPjpRnmUqMPXLuOJZqOmvCNPxsrVWSfLORjTzA",
        "groupName": "-Fallback-scrubbed-bLrjxsYocYpIflLUDMMvNYwGOXs", "options":
        [], "displayOrder": 8704, "calculated": true, "externalOptions": false, "hasUniqueValue":
        true, "hidden": false, "hubspotDefined": false, "modificationMetadata": {"archivable":
        false, "readOnlyDefinition": false, "readOnlyValue": false}, "formField":
        true, "numberDisplayHint": "-Fallback-scrubbed-WVljIpAOfvO", "dataSensitivity":
        "-Fallback-scrubbed-WGtJwCLXGdGGS"}, {"name": "Fake-Shawn Johnson", "label":
        "-Fallback-scrubbed-udvyYzMPyQNtjT", "type": "-Fallback-scrubbed-fFKXoiOMdTt",
        "fieldType": "-Fallback-scrubbed-XxvxNKPj", "description": "-Fallback-scrubbed-yBGeIBgPqtEWGYNMsJIadHVIYFkNhcLosQDEqmpXxXBFfE",
        "groupName": "-Fallback-scrubbed-bLrjxsYocYpIflLUDMMvNYwGOXs", "options":
        [], "displayOrder": 8704, "calculated": true, "externalOptions": false, "hasUniqueValue":
        tru[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hubapi.com/marketing/v3/emails?limit=100&updatedAfter=2005-01-01T00%3A00%3A00Z
  response:
    body:
      string: '{"total": 6, "results": [{"activeDomain": "-Fallback-scrubbed-gotsrvorwgUKImkvEwaSh",
        "allEmailCampaignIds": ["3402", "9260"], "archived": true, "businessUnitId":
        "5002", "content": {"templatePath": "-Fallback-scrubbed-QyaCRpvDqqWfnYZqOvEZDDFhSBBLvxoObUL",
        "widgets": {"primary_rich_text_module": {"body": {"html": "-Fallback-scrubbed-wugJjGEJQwohXZKiThvgTZuuNjmLsiEzoYaUHduRafofaJPNaAScyLpTOmDTpoHoTKteHYQYHoILdAGpktJhgvvtBWLKsCHtALrcGHnrKvIhPtmBlcvVAuZRwsKvJDRGovancKtuCmqdbnYFTZkcHFvPGvDOiUxSudILcCObIBQoihOSETyhWsagnEzjmauSnxAsnbZDokrfCeQPeRTVyddBuwOIFlqRxmxSTIIwRCEAfjSULmyitjTbiCGJLlilISSQyJBQaunGxXnGpYJQKhgSTLguRPMVXPsSGzoNLnCoVUPqTTjbFTHpIqpdMLpSMZnVVVFukPrUdhLdvwjQRaEPWtwoDqByCoCOOhJrlWiROzQleCmyRtmabJyT",
        "module_id": 1862}, "id": "-Fallback-scrubbed-FwzunWKgMwjqeRlmApoPUFxG", "module_id":
        1862, "name": "-Fallback-scrubbed-FwzunWKgMwjqeRlmApoPUFxG", "type": "-Fallback-scrubbed-rtdZoP"}}},
        "createdAt": "2005-02-10T12:54:16.464Z", "createdById": "6153", "emailCampaignGroupId":
        "5062", "emailTemplateMode": "-Fallback-scrubbed-nmmyLTnnQfvOk", "from": {"fromName":
        "-Fallback-scrubbed-qizyboOGdMkqliQrWzviPuchURXea", "replyTo": "-Fallback-scrubbed-qizyboOGdMkqliQrWzviPuchURXea"},
        "id": "7939", "isAb": true, "isPublished": false, "isTransactional": false,
        "jitterSendTime": false, "language": "-Fallback-scrubbed-nz", "name": "Fake-Andrea
        Montoya", "previewKey": "-Fallback-scrubbed-hJazCPIp", "primaryEmailCampaignId":
        "9260", "publishDate": "2001-01-15T04:11:21Z", "publishedAt": "1979-10-14T21:12:45.873Z",
        "publishedById": "6153", "publishedByName": "-Fallback-scrubbed-EqTxTqLBDEpiaK",
        "state": "-Fallback-scrubbed-ZmjkvdZnu", "subcategory": "-Fallback-scrubbed-wvredsJalbItXCCxRMJuogQrNJrt",
        "subject": "-Fallback-scrubbed-RfRQQQstbMjTPUgLnqrWmdsxxpCcoeQRtxRlSVgVuXkfFGhAKA",
        "subscriptionDetails": {"officeLocationId": "5138", "subscriptionId": "6971",
        "subscriptionName": "-Fallback-scrubbed-IfAGYosvayIFf"}, "to": {"limitSendFrequency":
        true, "suppressGraymail": true}, "type": "-Fallback-scrubbed-iBbvgLHrfuQW",
        "updatedAt": "1977-09-07T11:39:28.961Z", "updatedById": "6153", "webversion":
        {"domain": "-Fallback-scrubbed-gotsrvorwgUKImkvEwaSh", "enabled": true, "isPageRedirected":
        true, "slug": "-Fallback-scrubbed-MziduEPrfOceyOKieUMnanDYRCIyAgDjANCSvGClcqIVlnKuulYy",
        "url": "-Fallback-scrubbed-QZOqnIZpJSXAdvybBzbMWEqovBYVPWypbEVFQWQtHdIFcBiHsSfJPOLXmYuemxtyUDclJyCemrdPTfprlV"}},
        {"activeDomain": "-Fallback-scrubbed-gotsrvorwgUKImkvEwaSh", "allEmailCampaignIds":
        ["9051", "9788"], "archived": true, "businessUnitId": "5002", "content": {"templatePath":
        "-Fallback-scrubbed-QyaCRpvDqqWfnYZqOvEZDDFhSBBLvxoObUL", "widgets": {"primary_rich_text_module":
        {"body": {"html": "-Fallback-scrubbed-PNBJbzYmxsDpeKCItxcFYcVzIaATiDZlITrvVoshkonUHSqNut[...]
